# Build products
**/build/
**/*.framework/

# Large binary libraries
**/lib/*.dylib
**/lib/*.so

# Video assets
**/Asset/*.mp4
**/Asset/*.mov

# Xcode
.DS_Store

**/miniIOSApp.xcodeproj/project.xcworkspace/xcuserdata
**/miniIOSApp.xcodeproj/xcuserdata/coollyn.xcuserdatad